<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRM.Properties.Settings.CRMConnectionString" connectionString="Data Source=user-komputer\sql2017;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=1qaz@WSX3edc" providerName="System.Data.SqlClient"/>
        <add name="CRM.Properties.Settings.CRMConnectionString1" connectionString="Data Source=USER-KOMPUTER\SQL2017;Initial Catalog=CRM;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="CRM.Properties.Settings.CRMConnectionString2" connectionString="Data Source=USER-KOMPUTER\SQL2017;Initial Catalog=CRM;Persist Security Info=True;User ID=sa;Password=1qaz@WSX3edc" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
