/*
   7 sierpnia 201715:55:12
   User: ksiup
   Server: PERETKO-P\SQL2014
   Database: CRM
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.menu
	(
	id_menu int NOT NULL IDENTITY (1, 1),
	menu varchar(200) NULL,
	parent_id nchar(10) NULL,
	activie bit NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.menu ADD CONSTRAINT
	PK_menu PRIMARY KEY CLUSTERED 
	(
	id_menu
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.menu SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
